In [1]:
import pandas as pd

In [7]:
!ls

compile_data.ipynb	    labeled_data.csv	     train_E6oV3lV.csv
hate-speech-dataset-master  test_tweets_anuFYb8.csv

In [122]:
# Class - Type - Count
# 0 - Hate - 1430
# 1 - Offensive - 19190
# 2 - Normal - 4163

# True - 20620
# False - 4163

df = pd.read_csv("./random/labeled_data.csv")

ddf1 = pd.DataFrame()
ddf1["label"] = df["tweet"]
ddf1["target"] = df.apply(lambda row: row["class"] == 0 or row["class"] == 1, axis=1)

ddf1.head()

                                               label  target
0  !!! RT @mayasolovely: As a woman you shouldn't...   False
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...    True
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...    True
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...    True
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...    True

In [123]:
# Class - Type - Count
# 0 - Hate - 2242
# 1 - Normal - 29720

# True - 2242
# False - 29720

df = pd.read_csv("./tweets/train_E6oV3lV.csv")

ddf2 = pd.DataFrame()
ddf2["label"] = df["tweet"]
ddf2["target"] = df.apply(lambda row: row.label == 1, axis=1)

ddf2["target"].value_counts()
# df["label"].value_counts()
ddf2.head()

                                               label  target
0   @user when a father is dysfunctional and is s...   False
1  @user @user thanks for #lyft credit i can't us...   False
2                                bihday your majesty   False
3  #model   i love u take with u all the time in ...   False
4             factsguide: society now    #motivation   False

In [124]:
!ls hate-speech-dataset-master

all_files		  LICENSE    sampled_test
annotations_metadata.csv  README.md  sampled_train

In [125]:
# True     1196
# False    9748

hate = {}
df = pd.read_csv("./hate-speech-dataset-master/annotations_metadata.csv")

for ind, row in df.iterrows():
    hate[row['file_id']] = row['label'] == 'hate'
#     print(row['file_id'], row['label'])

import os
all_rows = []
for (cur, dirs, files) in os.walk('./hate-speech-dataset-master/all_files/'):
    for file in files:
        with open(cur + file, 'r') as fp:
            tweet = ""
            for line in fp:
                tweet += line
            all_rows.append([tweet, hate[file[:-4]]])
ddf3 = pd.DataFrame(all_rows, columns=["label", "target"])

ddf3.head()

                                               label  target
0             I wish I had been in the youth corps .   False
1                            I just took that test .   False
2  This is a video of a band from the Upper Siles...   False
3  Not the best round by any means , but 2 or 3 5...   False
4                                    Are you a Jew ?   False

In [126]:
res = pd.concat([ddf1, ddf2, ddf3])
res.head()

res.count()
res["target"].value_counts()

False    43631
True     24058
Name: target, dtype: int64

In [127]:
!ls

compile_data.ipynb  compiled.csv  hate-speech-dataset-master  random  tweets

In [128]:
res.to_csv('./compiled.csv')