In [16]:
import pandas as pd

In [17]:
!ls

compile_data.ipynb  hate_speech.csv		random
compiled.csv	    hate-speech-dataset-master	tweets

In [18]:
# Class - Type - Count
# 0 - Hate - 1430
# 1 - Offensive - 19190
# 2 - Normal - 4163

# True - 20620
# False - 4163

df = pd.read_csv("./random/labeled_data.csv")

ddf1 = pd.DataFrame()
ddf1["label"] = df["tweet"]
ddf1["target"] = df.apply(lambda row: row["class"] == 0 or row["class"] == 1, axis=1)

ddf1.head()

                                               label  target
0  !!! RT @mayasolovely: As a woman you shouldn't...   False
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...    True
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...    True
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...    True
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...    True

In [19]:
# Class - Type - Count
# 0 - Hate - 2242
# 1 - Normal - 29720

# True - 2242
# False - 29720

df = pd.read_csv("./tweets/train_E6oV3lV.csv")

ddf2 = pd.DataFrame()
ddf2["label"] = df["tweet"]
ddf2["target"] = df.apply(lambda row: row.label == 1, axis=1)

ddf2["target"].value_counts()
# df["label"].value_counts()
ddf2.head()

                                               label  target
0   @user when a father is dysfunctional and is s...   False
1  @user @user thanks for #lyft credit i can't us...   False
2                                bihday your majesty   False
3  #model   i love u take with u all the time in ...   False
4             factsguide: society now    #motivation   False

In [20]:
!ls hate-speech-dataset-master

all_files		  LICENSE    sampled_test
annotations_metadata.csv  README.md  sampled_train

In [21]:
# True     1196
# False    9748

hate = {}
df = pd.read_csv("./hate-speech-dataset-master/annotations_metadata.csv")

for ind, row in df.iterrows():
    hate[row['file_id']] = row['label'] == 'hate'
#     print(row['file_id'], row['label'])

import os
all_rows = []
for (cur, dirs, files) in os.walk('./hate-speech-dataset-master/all_files/'):
    for file in files:
        with open(cur + file, 'r') as fp:
            tweet = ""
            for line in fp:
                tweet += line
            all_rows.append([tweet, hate[file[:-4]]])
ddf3 = pd.DataFrame(all_rows, columns=["label", "target"])

ddf3.head()

                                               label  target
0             I wish I had been in the youth corps .   False
1                            I just took that test .   False
2  This is a video of a band from the Upper Siles...   False
3  Not the best round by any means , but 2 or 3 5...   False
4                                    Are you a Jew ?   False

In [22]:
res = pd.concat([ddf1, ddf2, ddf3])
res.head()

res.count()
res["target"].value_counts()

False    43631
True     24058
Name: target, dtype: int64

In [23]:
!ls

compile_data.ipynb  hate_speech.csv		random
compiled.csv	    hate-speech-dataset-master	tweets

In [24]:
res.head()

                                               label  target
0  !!! RT @mayasolovely: As a woman you shouldn't...   False
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...    True
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...    True
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...    True
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...    True

In [25]:
res['is_it_hate'] = res['target']

In [26]:
res.head()

                                               label  target  is_it_hate
0  !!! RT @mayasolovely: As a woman you shouldn't...   False       False
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...    True        True
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...    True        True
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...    True        True
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...    True        True

In [27]:
res.loc[res.target == True, "is_it_hate"] = 1
res.loc[res.target == False, "is_it_hate"] = 0

In [30]:
res.head(20)

                                                label  target is_it_hate
0   !!! RT @mayasolovely: As a woman you shouldn't...   False          0
1   !!!!! RT @mleew17: boy dats cold...tyga dwn ba...    True          1
2   !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...    True          1
3   !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...    True          1
4   !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...    True          1
5   !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...    True          1
6   !!!!!!"@__BrighterDays: I can not just sit up ...    True          1
7   !!!!&#8220;@selfiequeenbri: cause I'm tired of...    True          1
8   " &amp; you might not get ya bitch back &amp; ...    True          1
9   " @rhythmixx_ :hobbies include: fighting Maria...    True          1
10  " Keeks is a bitch she curves everyone " lol I...    True          1
11                 " Murda Gang bitch its Gang Land "    True          1
12  " So hoes that smoke are losers ? " yea ... go...    True          1
13      " bad bitches is the only thing that i like "    True          1
14                            " bitch get up off me "    True          1
15                    " bitch nigga miss me with it "    True          1
16                             " bitch plz whatever "    True          1
17                          " bitch who do you love "    True          1
18                 " bitches get cut off everyday B "    True          1
19                 " black bottle &amp; a bad bitch "    True          1

In [29]:
res.to_csv('./compiled.csv')

In [31]:
res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67689 entries, 0 to 10943
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       67689 non-null  object
 1   target      67689 non-null  bool
 2   is_it_hate  67689 non-null  object
dtypes: bool(1), object(2)
memory usage: 1.6+ MB

In [32]:
res.describe()

                                                    label target  is_it_hate
count                                               67689  67689       67689
unique                                              65073      2           2
top     #model   i love u take with u all the time in ...  False           0
freq                                                  319  43631       43631