In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Fake_labeled.csv")
data.drop('Unnamed: 0', axis=1, inplace=True)
data.drop('Unnamed: 0.1', axis=1, inplace=True)
data.head()

         date  ...     label
0  2020-10-05  ...  Not Hate
1  2020-10-05  ...  Not Hate
2  2020-10-05  ...  Not Hate
3  2020-10-05  ...  Not Hate
4  2020-10-05  ...  Not Hate

[5 rows x 4 columns]

In [3]:
#check days
arr = data.date.values
arr = set(arr)
len(arr)

115

In [4]:
df = data

In [5]:
df = df.groupby('date')['label'].apply(list).reset_index(name='labels')

In [6]:
df.head()

         date                                             labels
0  2020-10-05  [Not Hate, Not Hate, Not Hate, Not Hate, Not H...
1  2020-10-06  [Not Hate, Not Hate, Not Hate, Not Hate, Not H...
2  2020-10-07  [Not Hate, Hate, Hate, Not Hate, Hate, Not Hat...
3  2020-10-08  [Not Hate, Not Hate, Not Hate, Not Hate, Not H...
4  2020-10-09  [Hate, Not Hate, Not Hate, Not Hate, Not Hate,...

In [7]:
df['Hate'] = df.apply(lambda row: row.labels.count('Hate'), axis = 1)
df['Not_Hate'] = df.apply(lambda row: row.labels.count('Not Hate'), axis = 1)
df['RatioofHate'] = df.apply(lambda row: row.labels.count('Hate')/len(row.labels), axis = 1)
df['RatioofNotHate'] = df.apply(lambda row: row.labels.count('Not Hate')/len(row.labels), axis = 1)

In [8]:
df

           date  ... RatioofNotHate
0    2020-10-05  ...       0.964286
1    2020-10-06  ...       0.771429
2    2020-10-07  ...       0.739130
3    2020-10-08  ...       0.804878
4    2020-10-09  ...       0.724138
..          ...  ...            ...
110  2021-01-23  ...       0.929167
111  2021-01-24  ...       0.921687
112  2021-01-25  ...       0.944700
113  2021-01-26  ...       0.941953
114  2021-01-27  ...       0.943343

[115 rows x 6 columns]

In [9]:
df.to_csv('Fake_ratio.csv')